numpy
pandas
scikit-learn
scipy
xgboost
statsmodels
matplotlib
seaborn
wordcloud
ydata-profiling

dvc
dvclive

celery

aiohttp
requests
cryptography
asyncssh

hydra-core
omegaconf
pydantic
attrs

pytest